<settings>
  <category label="General">
	<setting type="lsep" label="Please Enter Your Login Details Below:" />
		<setting id="usern" type="text" label="Username" default="empty" subsetting="true"/>
		<setting id="passw" type="text" option="hidden" label="Password" default="empty" subsetting="true"/>
	<setting type="lsep" label="Addon Settings:" />
		<setting id="adult" type="bool" label="Show adult(+18) channels under Random IPTV section?" default="false" subsetting="true"/>
		<setting id="ask_playlist_items" type="bool" label="Select channel quality and stream from dialog?(Recommended)" default="true" subsetting="true"/>
		<setting id="debug" type="bool" label="Enable Add-on Debugging" default="false" subsetting="true"/>
		<setting id="setup" default="false" visible="false" />
  </category>
</settings>
